{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="vstack gap-4 mb-4 mx-auto col-md-8 col-lg-6">
        <div class="px-4 rounded-3 border" style="background-color: #f0f2f5;">
            <legend class="border-bottom py-2">
                Change my image
            </legend>
            {% include 'includes/image_preview.html' with object=user.userprofile %}
            <form method="post" class="mx-2 mx-md-4 pt-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form.media }}
                {{ image_form|crispy }}
                <div class="my-4 d-flex flex-column">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="px-4 rounded-3 border" style="background-color: #f0f2f5;">
            <legend class="border-bottom py-2">
                Change my email
            </legend>
            <form method="post" class="mx-0 mx-md-4 pt-2">
                {% csrf_token %}
                {{ email_form|crispy }}
                <div class="my-4 d-flex flex-column">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="px-4 rounded-3 border" style="background-color: #f0f2f5;">
            <legend class="border-bottom py-2">
                Change my password
            </legend>
            <form method="post" class="mx-0 mx-md-4 pt-2">
                {% csrf_token %}
                {{ password_form|crispy }}
                <div class="my-4 d-flex flex-column">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="px-4 rounded-3 border" style="background-color: #f0f2f5;">
            <legend class="border-bottom py-2">
                Change my username
            </legend>
            <form method="post" class="mx-0 mx-md-4 pt-2">
                {% csrf_token %}
                {{ username_form|crispy }}
                <div class="my-4 d-flex flex-column">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="px-4 rounded-3 border" style="background-color: #f0f2f5;">
            <legend class="border-bottom py-2 text-danger">Delete my account</legend>
            <!-- Modal -->
            <div class="mx-0 mx-md-4 pt-2 d-flex flex-column">
                <a class="btn btn-danger mb-4" href="#" data-bs-toggle="modal" data-bs-target="#account-delete">I want to delete my account</a>
                {% include 'includes/modal.html' with modal_id='account-delete' modal_title='Delete your account' form='authentication/delete_account_form.html' object=delete_form modal_button_value="Yes I'm sure, delete everything" %}
            </div>
        </div>
    </div>
{% endblock content %}