{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="mx-4 border border-3">
        <legend class="border-bottom mb-4">Sign In</legend>
        <form method="post" enctype="multipart/form-data" class="mx-4 my-4">
            {% csrf_token %}
            {{ user_form|crispy }}
            <p class="help">{{ field.help_text|safe }}</p>
            <button class="btn btn-primary me-3 my-3" type="submit">Sign up</button>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Return</a>
        </form>
    </div>
{% endblock %}