{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column flex-md-row justify-content-md-end mb-4">
        <a href="{% url 'create-ticket' %}" class="btn btn-primary mb-4 mb-md-0 mx-2" role="button">New ticket</a>
        <a href="{% url 'create-review' %}" class="btn btn-primary mx-2" role="button">New review</a>
    </div>
    <div class="container">
        {% for ticket in ticket_list %}
            {% include 'reviews/includes/ticket_snippet.html' with color='#f0f2f5' ticket=ticket review=ticket.review_set.get %}
            {% if 'user-post' in request.get_full_path and ticket.user == ticket.review_set.get.user %}
                {% include 'reviews/includes/ticket_snippet.html' with color='#f0f2f5' ticket=ticket %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
