{% extends 'base.html'%}

{% block h1 %}
    {% if request.resolver_match.url_name == 'user-posts' %}
        {% if user_post == user %}
            Your tickets and reviews
        {% else %}
            Tickets and reviews by {{ user_post }}
        {% endif %}
    {% else %}
        Feed
    {% endif %}
{% endblock h1 %}

{% block button-follow %}
    {% if request.resolver_match.url_name == 'user-posts' %}
        {% if user_post != user and user_post.pk not in followed_user_pk %}
            <div class="container my-2 mt-4">
                <p class="text-center mt-2 mb-1">You don't follow user {{ user_post }} ! Follow him now</p>
                <form method="post" class="d-flex justify-content-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Follow</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock button-follow %}

{% block content %}
    <div class="d-flex flex-column flex-md-row justify-content-md-end mb-4">
        <a href="{% url 'create-ticket' %}" class="btn btn-outline-primary mb-4 mb-md-0 mx-2" role="button">New ticket</a>
        <a href="{% url 'create-review' %}" class="btn btn-outline-success mx-2" role="button">New review</a>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="container pt-4">
            {% include 'reviews/includes/pagination.html' %}
        </div>
    {% endif %}
    <div class="container">
        {% for ticket in ticket_list %}
            {% include 'reviews/includes/ticket_snippet.html' with color='#f0f2f5' ticket=ticket review=ticket.review_set.get %}
            {% if request.resolver_match.url_name == 'user-posts' and ticket.user == ticket.review_set.get.user %}
                {% include 'reviews/includes/ticket_snippet.html' with color='#f0f2f5' ticket=ticket %}
            {% endif %}
        {% endfor %}
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="container pt-4">
            {% include 'reviews/includes/pagination.html' %}
        </div>
    {% endif %}
{% endblock content %}
