{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container rounded-3 border px-4" style="background-color: #f0f2f5;">
        <legend class="border-bottom py-2 px-2">
            Update Review
        </legend>
        <form method="post" enctype="multipart/form-data" class="mx-2 mx-md-4 my-4 pt-2">
            {% csrf_token %}
            {% crispy form %}
            <p class="help">{{ field.help_text|safe }}</p>
            <!-- Butons created in form by crispy-form -->
        </form>
    </div>
{% endblock %}