{% extends 'base.html' %}

{% block h1 %}
    Your subscriptions
{% endblock h1 %}

{% load crispy_forms_tags %}

{% block content %}
{% with user.following.all as follow %}
{% with user.followed_by.all as followed_by %}
<div class="container rounded-3 border px-4" style="background-color: #f0f2f5;">
    <div class="pb-4">
        <legend class="border-bottom py-2 px-2">
            Search for an user
        </legend>
        <form method="post" class="px-2 my-4 pt-2">
            <!-- csrf_token passed through crispy form tag -->
            {% crispy form %}
        </form>
    </div>
    <div class="gap-4 px-2 container-lg d-flex flex-column justify-content-lg-around pb-4">
        <div class="gap-4 d-flex flex-column flex-lg-row">
            <div class="container rounded-3 pb-2" style="background-color: #fff;">
                <legend class="border-bottom py-2 px-2">
                    You are following {{ follow.count }} user{% if follow.count > 1 %}s{% endif %}
                </legend>
                <div class="my-2">
                    {% if not follow %}
                        <div class="container p-2 d-flex flex-column flex-md-row align-items-center rounded-3 border">
                            <p>You are not following anyone</p>
                        </div>
                    {% endif %}
                    {% for user_follow in follow %}
                        <div class="container p-2 d-flex flex-column flex-sm-row gap-3 rounded-3 border">
                            <div class="d-flex align-items-center gap-3 me-sm-auto text-wrap">
                                <img class="rounded-circle object-fit-cover" width="40" height="40" src="{{ user_follow.followed_user.userprofile.image.url }}" alt="{{ user_follow.followed_user }} profile image">
                                <a class="text-break me-2 text-decoration-none" href="{% url 'user-posts' user_follow.followed_user.id %}" aria-label="Access {{ user_follow.followed_user }}'s posts">{{ user_follow.followed_user }}</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-center justify-content-sm-end">
                                <a class="text-danger me-2 link-offset-1-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" type="button" href="#" data-bs-toggle="modal" data-bs-target="#{{ user_follow.id }}" aria-label="Unsubscribe {{ user_follow.followed_user }}">Unsubscribe</a>
                                {% include 'includes/modal.html' with modal_id=user_follow.id modal_title='Stop following user' modal_context_data=user_follow.followed_user action='delete-userfollow' object_id=user_follow.id form='reviews/userfollows_confirm_delete.html' object=user_follow.followed_user modal_button_value="Stop following this user" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container rounded-3 pb-2" style="background-color: #fff;">
                <legend class="border-bottom py-2 px-2">
                    You are followed by {{ followed_by.count }} user{% if followed_by.count > 1 %}s{% endif %}
                </legend>
                <div class="my-2">
                    {% if not followed_by %}
                        <div class="container p-2 d-flex align-items-center rounded-3 border">
                            <p>No one follows you !</p>
                        </div>
                    {% endif %}
                    {% for user_followed_by in followed_by %}
                        <div class="container p-2 d-flex flex-column flex-md-row gap-3 rounded-3 border">
                            <div class="d-flex align-items-center gap-3">
                                <img class="rounded-circle object-fit-cover" width="40" height="40" src="{{ user_followed_by.user.userprofile.image.url }}" alt="{{ user_followed_by.user.name }} profile image">
                                <a class="me-2 text-decoration-none" href="{% url 'user-posts' user_followed_by.user.id %}" aria-label="Access {{ user_followed_by.user }}'s posts">{{ user_followed_by.user }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endwith %}
{% endwith %}
{% endblock content %}