<p>Are you sure you want to delete the ticket : <strong class="text-danger">{{ object|capfirst }}</strong> ?</p>
{% if ticket.review_set.first %}
    <p>
    {% if object.review_set.first.user == user %}
        <strong class="text-primary">Your</strong> review <strong class="text-danger">{{ object.review_set.first.headline|capfirst }}</strong>
    {% else %}
        The review <strong class="text-danger">{{ object.review_set.first.headline|capfirst }}</strong> created by <strong class="text-primary">{{ object.review_set.first.user|capfirst }}</strong>
    {% endif %}
    will also be deleted !</p>
{% endif %}
